SR_USER={{ sickrage_daemon_user }}
SR_HOME={{ sickrage_app_src_directory }}
SR_DATA={{ sickrage_app_data_directory }}
SR_PIDFILE={{ sickrage_app_pid_file }}
SR_OPTS="{{ sickrage_daemon_extra_opts }}"
